.concrete-history-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.concrete-history-back {
  z-index: 10;
  pointer-events: auto;
}

.people-name {
  font-size: 50px;
  text-align: center;
  margin-top: 140px;
  user-select: none;
}

.history-chapters-list {
  font-size: 30px;
  text-decoration: underline;
  list-style: none;
  padding: 0px;
  padding-top: 60px;
  line-height: 2;
}

.history-chapters-item {
  cursor: default;
  transition: font-size 0.15s ease;
}

.history-chapters-item:hover {
  font-size: calc(30px * 1.1);
}

.history-chapter-heading {
  text-align: center;
  margin-top: 80px;
}

.history-chapter-title {
  font-size: 36px;
  margin-top: 24px;
  user-select: none;
}
