.routes-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.routes-background {
  position: absolute;
  margin: 100px 140px 24px 140px;
  width: 1637px;
  height: 958px;
  background-position: center;
}