.timeline-page .page-title-scroll__text {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.timeline-age-dot {
  position: relative;
  z-index: 1;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(114, 70, 42);
  flex: 0 0 20px;
}

.timeline-page .panel-list {
  height: 80%
}

.timeline-page .panel--left p {
  margin: 25px;
}

.panel-item--active .timeline-age-dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  border: 4px solid rgb(114, 70, 42);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.panel-content {
  line-height: 1.2;
  font-size: 25px;
  justify-content: justify;
}

.panel-content img {
  max-width: 100%;
  height: auto;
}

.panel-content {
  display: flex;
}

.panel-content .text-container {
  flex: 1;
  min-width: 0;
}

.panel-content .image-container {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.panel-content .image-container p {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}


