.background-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 1920px;
  height: 1080px;
  transform: translate(-50%, -50%) scale(var(--scale));
  transform-origin: center;
  overflow: hidden;
}

.cloud {
  z-index: 10;
}

.background-logos {
  position: absolute;
  inset: 0;
  z-index: 40;
  display: flex;
  flex-wrap: wrap;
  padding-left: 36px;
  padding-top: 18px;
  gap: 20px;
  pointer-events: none;
}

.main-logo-image {
  height: 80px;
}
