.book-chapter-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 24px 48px;
  text-align: center;
}

.book-chapter-title__text {
  font-size: 35px;
  font-family: "Tenor Sans";
  color: rgb(114, 70, 42);
  line-height: 1.143;
  text-align: center;
}
