.book {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.book-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 220px 320px 180px 320px;
  pointer-events: auto;
}

.book .page {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 750px;
  box-sizing: border-box;
  overflow: hidden;
}

