* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Tenor Sans', Arial, Helvetica, sans-serif;
  font-size: 20pt;
  background-color: #0f172a;
  color: #72462a;
  overflow: hidden;
}

p {
  line-height: 1.5;
}
